- hosts: aws
  become: true

  tasks:
    - name: Install pip
      package:
        name: pip
        state: present

    - name: Install AWS dependencies
      pip:
        name: 
          - boto3
          - botocore
      
    - name: List all EC2 instances in the current region
      amazon.aws.ec2_instance_info:
        access_key: ##replace
        region: us-east-1
        secret_key: ##replace
        session_token: ##replace
      register: ec2_instances

    - name: Show EC2 instances
      debug:
        msg: "{{ ec2_instances }}"
