- hosts: aws
  become: true
  roles:
    - webserver

  vars:
    web_ports: 
      - 80
      - 443
    web_paths: [ "/tmp/www.companyplus.com" , "/tmp/www.companypulsar.com" ]

  tasks:
    - name: Install firewalld
      package: 
        name: "firewalld"
        state: present

    - name: Start firewalld
      service:
        name: firewalld
        state: started

    - name: Open the web ports
      firewalld:
        port: "{{ item }}/tcp"
        state: enabled
        permanent: true
        immediate: true
      loop: "{{ web_ports }}"

    - name: Check web root - companyplus.com
      command: ls -ld "{{ web_paths [0] }}"
      register: companyplus_listing
      ignore_errors: true

    - name: Display missing web root listing - companyplus.com
      debug:
        msg: "[WARN] {{ web_paths [0] }} doesn't exists."
      when: companyplus_listing.rc > 0


    - name: Display web root listing - companyplus.com
      debug:
        msg: "[INFO] {{ web_paths [0] }} exists."
      when: companyplus_listing.rc == 0
