- hosts: aws
  become: true

  tasks:
    - name: Install firewalld
      package: 
        name: "firewalld"
        state: present

    - name: Start firewalld
      service:
        name: firewalld
        state: started

    - name: Open the web ports
      firewalld:
        port: "{{ item }}/tcp"
        state: enabled
        permanent: true
        immediate: true
      loop: "{{ ports }}"

