- name: Install firewalld
  package: 
    name: "firewalld"
    state: present

- name: Start firewalld
  service:
    name: firewalld
    state: started

- name: Open port
  firewalld:
    port: "{{ item }}/tcp"
    state: enabled
    permanent: true
    immediate: true
  loop: "{{ ports }}"

- name: Install Apache
  package:
    name: "{{ web_package }}"
    state: present
  notify: Restart Apache